<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather2Day</title>
    <link rel="stylesheet" href="{{url_for('static', filename='public/css/Error.css')}}">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="icon" href="../static/public/image/fav3.png">
</head>

<body>
    <div class="parent">
        <div class="child">
            <h2>Enter a Valid Location</h2>
            <img id="img" src="/static/public/image/error.png" alt="">
            <button class="btn" onclick="window.location='/'">Go Back</button>
        </div>
    </div>
</body>

</html>