@font-face {
    font-family: Tw Cen MT;
    src: url("../font/TCM_____.TTF");
}
html,body{
    height: 100%;
    margin: 0px;
    scroll-behavior: smooth;
}
.parent{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/ErrorBackGround.webp");
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.child{

    width: 800px;
    height: 500px;
    border-radius: 60px;
    background-color:white;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    font-family: Tw Cen MT;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #234;  
    transition: border 0.8s;
}
.child:hover{
    border: 2px solid #979999;
}
h2{
    align-items: flex-start;
    margin-left: 25%;
    position: relative;
    bottom: 40px;
}
#img{
    width: 470px;
    height: 300px;
    margin-left: 20%;
    position: relative;
    bottom: 60px;
}
.btn{
    align-self: center;
    width: 150px;
    height: 50px;
    position: relative;
    bottom: 30px;
    border: none;
    background-color: #45e3c8;
    font-family: Tw Cen MT;
    color: white;
    font-size: 30px;
    transition: background-color 0.6s;
}
.btn:hover{
    background-color: #234;
}